@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin 'tailwindcss-radix';

@source '../**/*.{ts,tsx,jsx,js}';

@custom-variant dark (&:is(.dark *));

@theme {
	--color-border: var(--border);

	--color-input: var(--input);
	--color-input-invalid: var(--input-invalid);

	--color-ring: var(--ring);
	--color-ring-invalid: var(--foreground-destructive);

	--color-background: var(--background);

	--color-foreground: var(--foreground);
	--color-foreground-destructive: var(--foreground-destructive);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--color-sidebar: var(--sidebar-background);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--color-diff-green: var(--diff-green);
	--color-diff-red: var(--diff-red);

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--text-mega: 5rem;
	--text-mega--line-height: 5.25rem;
	--text-mega--font-weight: 700;
	--text-h1: 3.5rem;
	--text-h1--line-height: 3.875rem;
	--text-h1--font-weight: 700;
	--text-h2: 2.5rem;
	--text-h2--line-height: 3rem;
	--text-h2--font-weight: 700;
	--text-h3: 2rem;
	--text-h3--line-height: 2.25rem;
	--text-h3--font-weight: 700;
	--text-h4: 1.75rem;
	--text-h4--line-height: 2.25rem;
	--text-h4--font-weight: 700;
	--text-h5: 1.5rem;
	--text-h5--line-height: 2rem;
	--text-h5--font-weight: 700;
	--text-h6: 1rem;
	--text-h6--line-height: 1.25rem;
	--text-h6--font-weight: 700;
	--text-caption: 1.125rem;
	--text-caption--line-height: 1.5rem;
	--text-caption--font-weight: 600;

	--animate-caret-blink: caret-blink 1.25s ease-out infinite;

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}
		20%,
		50% {
			opacity: 0;
		}
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 1535px) {
		max-width: 1535px;
		padding-inline: 2rem;
	}
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--border);
	}
}

@layer base {
	:root {
		--sidebar-background: oklch(98.48% 0 0);
		--sidebar-foreground: oklch(37.05% 0.012 285.8);
		--sidebar-primary: oklch(21.03% 0.006 285.9);
		--sidebar-primary-foreground: oklch(98.48% 0 0);
		--sidebar-accent: oklch(96.76% 0.001 286.4);
		--sidebar-accent-foreground: oklch(21.03% 0.006 285.9);
		--sidebar-border: oklch(92.78% 0.006 264.5);
		--sidebar-ring: oklch(62.32% 0.188 259.8);

		/* --font-sans: here if you have one */
		/* --font-mono: here if you got it... */

		/* prefixed with foreground because it should look good on the background */
		--foreground-destructive: oklch(51.46% 0.198 16.57);

		--diff-green: oklch(62.73% 0.17 149.2);
		--diff-red: oklch(63.68% 0.208 25.33);

		--radius: 0.5rem;
	}

	.dark {
		--sidebar-background: oklch(21.03% 0.006 285.9);
		--sidebar-foreground: oklch(96.76% 0.001 286.4);
		--sidebar-primary: oklch(48.78% 0.217 264.4);
		--sidebar-primary-foreground: oklch(100% 0 0);
		--sidebar-accent: oklch(27.41% 0.005 286);
		--sidebar-accent-foreground: oklch(96.76% 0.001 286.4);
		--sidebar-border: oklch(27.41% 0.005 286);
		--sidebar-ring: oklch(62.32% 0.188 259.8);

		/* prefixed with foreground because it should look good on the background */
		--foreground-destructive: oklch(63.72% 0.207 21.89);

		--diff-green: oklch(72.29% 0.192 149.6);
		--diff-red: oklch(39.59% 0.133 25.72);
	}
}

@layer base {
	.yellow {
		--background: oklch(100% 0 0);
		--foreground: oklch(14.67% 0.004 49.31);
		--card: oklch(100% 0 0);
		--card-foreground: oklch(14.67% 0.004 49.31);
		--popover: oklch(100% 0 0);
		--popover-foreground: oklch(14.67% 0.004 49.31);
		--primary: oklch(86.01% 0.173 91.84);
		--primary-foreground: oklch(28.54% 0.064 53.82);
		--secondary: oklch(97% 0.001 106.4);
		--secondary-foreground: oklch(21.61% 0.006 56.04);
		--muted: oklch(97% 0.001 106.4);
		--muted-foreground: oklch(55.34% 0.012 58.07);
		--accent: oklch(97% 0.001 106.4);
		--accent-foreground: oklch(21.61% 0.006 56.04);
		--destructive: oklch(63.68% 0.208 25.33);
		--destructive-foreground: oklch(98.45% 0.001 106.4);
		--border: oklch(92.32% 0.003 48.72);
		--input: oklch(92.32% 0.003 48.72);
		--ring: oklch(14.67% 0.004 49.31);
		--chart-1: oklch(67.72% 0.157 35.19);
		--chart-2: oklch(63.09% 0.101 183.5);
		--chart-3: oklch(37.87% 0.044 225.5);
		--chart-4: oklch(83.36% 0.119 88.15);
		--chart-5: oklch(78.34% 0.126 58.75);
	}
	.yellow.dark {
		--background: oklch(14.67% 0.004 49.31);
		--foreground: oklch(98.45% 0.001 106.4);
		--card: oklch(14.67% 0.004 49.31);
		--card-foreground: oklch(98.45% 0.001 106.4);
		--popover: oklch(14.67% 0.004 49.31);
		--popover-foreground: oklch(98.45% 0.001 106.4);
		--primary: oklch(86.01% 0.173 91.84);
		--primary-foreground: oklch(28.54% 0.064 53.82);
		--secondary: oklch(26.85% 0.006 34.3);
		--secondary-foreground: oklch(98.45% 0.001 106.4);
		--muted: oklch(26.85% 0.006 34.3);
		--muted-foreground: oklch(71.59% 0.009 56.26);
		--accent: oklch(26.85% 0.006 34.3);
		--accent-foreground: oklch(98.45% 0.001 106.4);
		--destructive: oklch(39.59% 0.133 25.72);
		--destructive-foreground: oklch(98.45% 0.001 106.4);
		--border: oklch(26.85% 0.006 34.3);
		--input: oklch(26.85% 0.006 34.3);
		--ring: oklch(55.35% 0.121 66.53);
		--chart-1: oklch(52.92% 0.193 262.1);
		--chart-2: oklch(69.83% 0.134 165.5);
		--chart-3: oklch(72.32% 0.15 60.63);
		--chart-4: oklch(61.92% 0.204 312.7);
		--chart-5: oklch(61.23% 0.209 6.386);
	}

	.orange {
		--background: oklch(100% 0 0);
		--foreground: oklch(14.67% 0.004 49.31);
		--card: oklch(100% 0 0);
		--card-foreground: oklch(14.67% 0.004 49.31);
		--popover: oklch(100% 0 0);
		--popover-foreground: oklch(14.67% 0.004 49.31);
		--primary: oklch(70.48% 0.187 47.6);
		--primary-foreground: oklch(98.45% 0.001 106.4);
		--secondary: oklch(97% 0.001 106.4);
		--secondary-foreground: oklch(21.61% 0.006 56.04);
		--muted: oklch(97% 0.001 106.4);
		--muted-foreground: oklch(55.34% 0.012 58.07);
		--accent: oklch(97% 0.001 106.4);
		--accent-foreground: oklch(21.61% 0.006 56.04);
		--destructive: oklch(63.68% 0.208 25.33);
		--destructive-foreground: oklch(98.45% 0.001 106.4);
		--border: oklch(92.32% 0.003 48.72);
		--input: oklch(92.32% 0.003 48.72);
		--ring: oklch(70.48% 0.187 47.6);
		--chart-1: oklch(67.72% 0.157 35.19);
		--chart-2: oklch(63.09% 0.101 183.5);
		--chart-3: oklch(37.87% 0.044 225.5);
		--chart-4: oklch(83.36% 0.119 88.15);
		--chart-5: oklch(78.34% 0.126 58.75);
	}
	.orange.dark {
		--background: oklch(14.67% 0.004 49.31);
		--foreground: oklch(98.45% 0.001 106.4);
		--card: oklch(14.67% 0.004 49.31);
		--card-foreground: oklch(98.45% 0.001 106.4);
		--popover: oklch(14.67% 0.004 49.31);
		--popover-foreground: oklch(98.45% 0.001 106.4);
		--primary: oklch(64.55% 0.194 41.08);
		--primary-foreground: oklch(98.45% 0.001 106.4);
		--secondary: oklch(26.85% 0.006 34.3);
		--secondary-foreground: oklch(98.45% 0.001 106.4);
		--muted: oklch(26.85% 0.006 34.3);
		--muted-foreground: oklch(71.59% 0.009 56.26);
		--accent: oklch(26.85% 0.006 34.3);
		--accent-foreground: oklch(98.45% 0.001 106.4);
		--destructive: oklch(57.71% 0.215 27.32);
		--destructive-foreground: oklch(98.45% 0.001 106.4);
		--border: oklch(26.85% 0.006 34.3);
		--input: oklch(26.85% 0.006 34.3);
		--ring: oklch(64.55% 0.194 41.08);
		--chart-1: oklch(52.92% 0.193 262.1);
		--chart-2: oklch(69.83% 0.134 165.5);
		--chart-3: oklch(72.32% 0.15 60.63);
		--chart-4: oklch(61.92% 0.204 312.7);
		--chart-5: oklch(61.23% 0.209 6.386);
	}

	.red {
		--background: oklch(100% 0 0);
		--foreground: oklch(14.45% 0 0);
		--card: oklch(100% 0 0);
		--card-foreground: oklch(14.45% 0 0);
		--popover: oklch(100% 0 0);
		--popover-foreground: oklch(14.45% 0 0);
		--primary: oklch(57.71% 0.215 27.32);
		--primary-foreground: oklch(97.1% 0.013 17.38);
		--secondary: oklch(97.03% 0 0);
		--secondary-foreground: oklch(20.44% 0 0);
		--muted: oklch(97.03% 0 0);
		--muted-foreground: oklch(55.55% 0 0);
		--accent: oklch(97.03% 0 0);
		--accent-foreground: oklch(20.44% 0 0);
		--destructive: oklch(63.68% 0.208 25.33);
		--destructive-foreground: oklch(98.48% 0 0);
		--border: oklch(92.19% 0 0);
		--input: oklch(92.19% 0 0);
		--ring: oklch(57.71% 0.215 27.32);
		--chart-1: oklch(67.72% 0.157 35.19);
		--chart-2: oklch(63.09% 0.101 183.5);
		--chart-3: oklch(37.87% 0.044 225.5);
		--chart-4: oklch(83.36% 0.119 88.15);
		--chart-5: oklch(78.34% 0.126 58.75);
	}
	.red.dark {
		--background: oklch(14.45% 0 0);
		--foreground: oklch(98.48% 0 0);
		--card: oklch(14.45% 0 0);
		--card-foreground: oklch(98.48% 0 0);
		--popover: oklch(14.45% 0 0);
		--popover-foreground: oklch(98.48% 0 0);
		--primary: oklch(57.71% 0.215 27.32);
		--primary-foreground: oklch(97.1% 0.013 17.38);
		--secondary: oklch(26.86% 0 0);
		--secondary-foreground: oklch(98.48% 0 0);
		--muted: oklch(26.86% 0 0);
		--muted-foreground: oklch(71.53% 0 0);
		--accent: oklch(26.86% 0 0);
		--accent-foreground: oklch(98.48% 0 0);
		--destructive: oklch(39.59% 0.133 25.72);
		--destructive-foreground: oklch(98.48% 0 0);
		--border: oklch(26.86% 0 0);
		--input: oklch(26.86% 0 0);
		--ring: oklch(57.71% 0.215 27.32);
		--chart-1: oklch(52.92% 0.193 262.1);
		--chart-2: oklch(69.83% 0.134 165.5);
		--chart-3: oklch(72.32% 0.15 60.63);
		--chart-4: oklch(61.92% 0.204 312.7);
		--chart-5: oklch(61.23% 0.209 6.386);
	}

	.rose {
		--background: oklch(100% 0 0);
		--foreground: oklch(14.05% 0.004 285.8);
		--card: oklch(100% 0 0);
		--card-foreground: oklch(14.05% 0.004 285.8);
		--popover: oklch(100% 0 0);
		--popover-foreground: oklch(14.05% 0.004 285.8);
		--primary: oklch(58.59% 0.222 17.55);
		--primary-foreground: oklch(96.99% 0.015 12.4);
		--secondary: oklch(96.76% 0.001 286.4);
		--secondary-foreground: oklch(21.03% 0.006 285.9);
		--muted: oklch(96.76% 0.001 286.4);
		--muted-foreground: oklch(55.19% 0.014 285.9);
		--accent: oklch(96.76% 0.001 286.4);
		--accent-foreground: oklch(21.03% 0.006 285.9);
		--destructive: oklch(63.68% 0.208 25.33);
		--destructive-foreground: oklch(98.48% 0 0);
		--border: oklch(91.97% 0.004 286.3);
		--input: oklch(91.97% 0.004 286.3);
		--ring: oklch(58.59% 0.222 17.55);
		--chart-1: oklch(67.72% 0.157 35.19);
		--chart-2: oklch(63.09% 0.101 183.5);
		--chart-3: oklch(37.87% 0.044 225.5);
		--chart-4: oklch(83.36% 0.119 88.15);
		--chart-5: oklch(78.34% 0.126 58.75);
	}
	.rose.dark {
		--background: oklch(14.67% 0.004 49.31);
		--foreground: oklch(96.19% 0 0);
		--card: oklch(21.61% 0.006 56.04);
		--card-foreground: oklch(96.19% 0 0);
		--popover: oklch(20.44% 0 0);
		--popover-foreground: oklch(96.19% 0 0);
		--primary: oklch(58.59% 0.222 17.55);
		--primary-foreground: oklch(96.99% 0.015 12.4);
		--secondary: oklch(27.41% 0.005 286);
		--secondary-foreground: oklch(98.48% 0 0);
		--muted: oklch(26.97% 0 0);
		--muted-foreground: oklch(71.19% 0.013 286.1);
		--accent: oklch(26.85% 0.006 34.3);
		--accent-foreground: oklch(98.48% 0 0);
		--destructive: oklch(39.59% 0.133 25.72);
		--destructive-foreground: oklch(97.1% 0.013 17.38);
		--border: oklch(27.41% 0.005 286);
		--input: oklch(27.41% 0.005 286);
		--ring: oklch(58.59% 0.222 17.55);
		--chart-1: oklch(52.92% 0.193 262.1);
		--chart-2: oklch(69.83% 0.134 165.5);
		--chart-3: oklch(72.32% 0.15 60.63);
		--chart-4: oklch(61.92% 0.204 312.7);
		--chart-5: oklch(61.23% 0.209 6.386);
	}

	.violet {
		--background: oklch(100% 0 0);
		--foreground: oklch(12.94% 0.027 261.7);
		--card: oklch(100% 0 0);
		--card-foreground: oklch(12.94% 0.027 261.7);
		--popover: oklch(100% 0 0);
		--popover-foreground: oklch(12.94% 0.027 261.7);
		--primary: oklch(54.09% 0.247 293);
		--primary-foreground: oklch(98.43% 0.002 247.8);
		--secondary: oklch(96.71% 0.003 264.5);
		--secondary-foreground: oklch(21.03% 0.032 264.7);
		--muted: oklch(96.71% 0.003 264.5);
		--muted-foreground: oklch(55.13% 0.023 264.4);
		--accent: oklch(96.71% 0.003 264.5);
		--accent-foreground: oklch(21.03% 0.032 264.7);
		--destructive: oklch(63.68% 0.208 25.33);
		--destructive-foreground: oklch(98.43% 0.002 247.8);
		--border: oklch(92.78% 0.006 264.5);
		--input: oklch(92.78% 0.006 264.5);
		--ring: oklch(54.09% 0.247 293);
		--chart-1: oklch(67.72% 0.157 35.19);
		--chart-2: oklch(63.09% 0.101 183.5);
		--chart-3: oklch(37.87% 0.044 225.5);
		--chart-4: oklch(83.36% 0.119 88.15);
		--chart-5: oklch(78.34% 0.126 58.75);
	}
	.violet.dark {
		--background: oklch(12.94% 0.027 261.7);
		--foreground: oklch(98.43% 0.002 247.8);
		--card: oklch(12.94% 0.027 261.7);
		--card-foreground: oklch(98.43% 0.002 247.8);
		--popover: oklch(12.94% 0.027 261.7);
		--popover-foreground: oklch(98.43% 0.002 247.8);
		--primary: oklch(49.07% 0.241 292.6);
		--primary-foreground: oklch(98.43% 0.002 247.8);
		--secondary: oklch(27.84% 0.03 256.8);
		--secondary-foreground: oklch(98.43% 0.002 247.8);
		--muted: oklch(27.84% 0.03 256.8);
		--muted-foreground: oklch(71.37% 0.019 261.3);
		--accent: oklch(27.84% 0.03 256.8);
		--accent-foreground: oklch(98.43% 0.002 247.8);
		--destructive: oklch(39.59% 0.133 25.72);
		--destructive-foreground: oklch(98.43% 0.002 247.8);
		--border: oklch(27.84% 0.03 256.8);
		--input: oklch(27.84% 0.03 256.8);
		--ring: oklch(49.07% 0.241 292.6);
		--chart-1: oklch(52.92% 0.193 262.1);
		--chart-2: oklch(69.83% 0.134 165.5);
		--chart-3: oklch(72.32% 0.15 60.63);
		--chart-4: oklch(61.92% 0.204 312.7);
		--chart-5: oklch(61.23% 0.209 6.386);
	}

	.blue {
		--background: oklch(100% 0 0);
		--foreground: oklch(13.71% 0.036 258.5);
		--card: oklch(100% 0 0);
		--card-foreground: oklch(13.71% 0.036 258.5);
		--popover: oklch(100% 0 0);
		--popover-foreground: oklch(13.71% 0.036 258.5);
		--primary: oklch(54.6% 0.215 262.9);
		--primary-foreground: oklch(98.38% 0.003 247.9);
		--secondary: oklch(96.84% 0.007 247.9);
		--secondary-foreground: oklch(20.79% 0.04 265.7);
		--muted: oklch(96.84% 0.007 247.9);
		--muted-foreground: oklch(55.47% 0.041 257.4);
		--accent: oklch(96.84% 0.007 247.9);
		--accent-foreground: oklch(20.79% 0.04 265.7);
		--destructive: oklch(63.68% 0.208 25.33);
		--destructive-foreground: oklch(98.38% 0.003 247.9);
		--border: oklch(92.9% 0.013 255.5);
		--input: oklch(92.9% 0.013 255.5);
		--ring: oklch(54.6% 0.215 262.9);
		--chart-1: oklch(67.72% 0.157 35.19);
		--chart-2: oklch(63.09% 0.101 183.5);
		--chart-3: oklch(37.87% 0.044 225.5);
		--chart-4: oklch(83.36% 0.119 88.15);
		--chart-5: oklch(78.34% 0.126 58.75);
	}
	.blue.dark {
		--background: oklch(13.71% 0.036 258.5);
		--foreground: oklch(98.38% 0.003 247.9);
		--card: oklch(13.71% 0.036 258.5);
		--card-foreground: oklch(98.38% 0.003 247.9);
		--popover: oklch(13.71% 0.036 258.5);
		--popover-foreground: oklch(98.38% 0.003 247.9);
		--primary: oklch(62.32% 0.188 259.8);
		--primary-foreground: oklch(20.79% 0.04 265.7);
		--secondary: oklch(28% 0.037 260);
		--secondary-foreground: oklch(98.38% 0.003 247.9);
		--muted: oklch(28% 0.037 260);
		--muted-foreground: oklch(71.07% 0.035 256.8);
		--accent: oklch(28% 0.037 260);
		--accent-foreground: oklch(98.38% 0.003 247.9);
		--destructive: oklch(39.59% 0.133 25.72);
		--destructive-foreground: oklch(98.38% 0.003 247.9);
		--border: oklch(28% 0.037 260);
		--input: oklch(28% 0.037 260);
		--ring: oklch(48.78% 0.217 264.4);
		--chart-1: oklch(52.92% 0.193 262.1);
		--chart-2: oklch(69.83% 0.134 165.5);
		--chart-3: oklch(72.32% 0.15 60.63);
		--chart-4: oklch(61.92% 0.204 312.7);
		--chart-5: oklch(61.23% 0.209 6.386);
	}

	.green {
		--background: oklch(100% 0 0);
		--foreground: oklch(14.05% 0.004 285.8);
		--card: oklch(100% 0 0);
		--card-foreground: oklch(14.05% 0.004 285.8);
		--popover: oklch(100% 0 0);
		--popover-foreground: oklch(14.05% 0.004 285.8);
		--primary: oklch(62.73% 0.17 149.2);
		--primary-foreground: oklch(96.99% 0.015 12.4);
		--secondary: oklch(96.76% 0.001 286.4);
		--secondary-foreground: oklch(21.03% 0.006 285.9);
		--muted: oklch(96.76% 0.001 286.4);
		--muted-foreground: oklch(55.19% 0.014 285.9);
		--accent: oklch(96.76% 0.001 286.4);
		--accent-foreground: oklch(21.03% 0.006 285.9);
		--destructive: oklch(63.68% 0.208 25.33);
		--destructive-foreground: oklch(98.48% 0 0);
		--border: oklch(91.97% 0.004 286.3);
		--input: oklch(91.97% 0.004 286.3);
		--ring: oklch(62.73% 0.17 149.2);
		--chart-1: oklch(67.72% 0.157 35.19);
		--chart-2: oklch(63.09% 0.101 183.5);
		--chart-3: oklch(37.87% 0.044 225.5);
		--chart-4: oklch(83.36% 0.119 88.15);
		--chart-5: oklch(78.34% 0.126 58.75);
	}
	.green.dark {
		--background: oklch(14.67% 0.004 49.31);
		--foreground: oklch(96.19% 0 0);
		--card: oklch(21.61% 0.006 56.04);
		--card-foreground: oklch(96.19% 0 0);
		--popover: oklch(20.44% 0 0);
		--popover-foreground: oklch(96.19% 0 0);
		--primary: oklch(72.29% 0.192 149.6);
		--primary-foreground: oklch(26.64% 0.063 152.9);
		--secondary: oklch(27.41% 0.005 286);
		--secondary-foreground: oklch(98.48% 0 0);
		--muted: oklch(26.97% 0 0);
		--muted-foreground: oklch(71.19% 0.013 286.1);
		--accent: oklch(26.85% 0.006 34.3);
		--accent-foreground: oklch(98.48% 0 0);
		--destructive: oklch(39.59% 0.133 25.72);
		--destructive-foreground: oklch(97.1% 0.013 17.38);
		--border: oklch(27.41% 0.005 286);
		--input: oklch(27.41% 0.005 286);
		--ring: oklch(52.71% 0.137 150.1);
		--chart-1: oklch(52.92% 0.193 262.1);
		--chart-2: oklch(69.83% 0.134 165.5);
		--chart-3: oklch(72.32% 0.15 60.63);
		--chart-4: oklch(61.92% 0.204 312.7);
		--chart-5: oklch(61.23% 0.209 6.386);
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50 text-base text-pretty;
	}
	body {
		@apply bg-background text-foreground;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-balance;
	}

	h1 {
		@apply text-h1;
	}

	h2 {
		@apply text-h2;
	}

	h3 {
		@apply text-h3;
	}

	h4 {
		@apply text-h4;
	}

	h5 {
		@apply text-h5;
	}

	h6 {
		@apply text-h6;
	}
}

@layer base {
	* {
		--sb-track-color: var(--muted);
		--sb-thumb-color: var(--primary);
		--sb-size: 12px;
		--sb-radius: 8px;
	}

	*::-webkit-scrollbar {
		width: var(--sb-size);
	}

	*::-webkit-scrollbar-track {
		background: var(--sb-track-color);
		border-radius: var(--sb-radius);
	}

	*::-webkit-scrollbar-thumb {
		background: var(--sb-thumb-color);
		border-radius: var(--sb-radius);
		border: 2px solid var(--sb-track-color);
	}

	@supports not selector(::-webkit-scrollbar) {
		* {
			scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
		}
	}
}
