@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* --font-sans: here if you have one */
		/* --font-mono: here if you got it... */

		/* prefixed with foreground because it should look good on the background */
		--foreground-destructive: 345 82.7% 40.8%;

		--radius: 0.5rem;
	}

	.dark {
		/* prefixed with foreground because it should look good on the background */
		--foreground-destructive: -4 84% 60%;
	}
}

@layer base {
	* {
		@apply text-pretty border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-balance;
	}
}
